@page
@{
    //ViewData["Title"] = "GetDeck";
    //Layout = "_Layout.cshtml";
}

<h1>RandomDeck</h1>
<div>
    <div>
        <div class="deck-visual-playmat">
            <div class="deck-visual-playmat-maindeck">
                @{var k = 0;}
                @foreach (var card in ViewBag.Deck.MainDeck)
                {
                    if (k%4==0)
                    {
                        k = 0;
                        @:<div class="deck-visual-pile">
                    }

                    <div class="deck-visual-pile-card deck-visual-pile-card-@k" style="width: 222px; height: 310px; background-image: url('https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=@card.Card.multiverseId&type=card'); background-size: contain;"
                         onmouseover="this.style.backgroundImage = 'url(https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=@card.Card.ruMultiverseId&type=card)'"
                         onmouseout="this.style.backgroundImage = 'url(https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=@card.Card.multiverseId&type=card)'">
                        <img style="display:none;" src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=@card.Card.ruMultiverseId&type=card" />
                        <div class="oracle">
                            <div class="cardname"><span class="en">@card.Card.name</span><span class="ru">@card.Card.ruName</span></div>
                            <div class="cardcount">@card.Count</div>
                        </div>
                    </div>
 <!--cardcontainer-->
                    if (k==3)
                    {
                        @:</div>
                    }
                    k++;
                }
            </div>
            <div class="deck-visual-playmat-sideboard">
                <div class="deck-visual-side-pile">
                    @{ int kk = 0; }
                    @foreach (var card in ViewBag.Deck.SideBoard)
                    {
                        var ccount = card.Count;
                    @for (var z = 0; z < ccount; z++)
                        {
                    <div class="deck-visual-side-pile-card deck-visual-pile-side-card-@kk" style="width:222px; height:310px; background-image: url('https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=@card.Card.multiverseId&type=card'); background-size: contain;"
                         onmouseover="document.getElementById('side-ru-@kk').style.display = 'block'">
                    </div>
                    <div class="deck-visual-side-pile-card deck-visual-pile-side-ru-card-@kk" id="side-ru-@kk" style="display: none; width:222px; height:310px; background-image: url('https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=@card.Card.ruMultiverseId&type=card'); background-size: contain;"
                         onmouseout="this.style.display='none'">
                    </div>
                            kk++;
                        }
                        //    kk++;
                    }
                </div>
            </div>
        </div><!--deckcontainer-->
    </div>
</div>
