@page
@model TCGUABot.Pages.Tournaments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tournament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tournament.Id" />
            <div class="form-group">
                <label asp-for="Tournament.PlannedDate" class="control-label"></label>
                <input asp-for="Tournament.PlannedDate" class="form-control" />
                <span asp-validation-for="Tournament.PlannedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.Name" class="control-label"></label>
                <input asp-for="Tournament.Name" class="form-control" />
                <span asp-validation-for="Tournament.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.Description" class="control-label"></label>
                <input asp-for="Tournament.Description" class="form-control" />
                <span asp-validation-for="Tournament.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.EntryFee" class="control-label"></label>
                <input asp-for="Tournament.EntryFee" class="form-control" />
                <span asp-validation-for="Tournament.EntryFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.Rewards" class="control-label"></label>
                <input asp-for="Tournament.Rewards" class="form-control" />
                <span asp-validation-for="Tournament.Rewards" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tournament.IsLocked" /> @Html.DisplayNameFor(model => model.Tournament.IsLocked)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tournament.IsClosed" /> @Html.DisplayNameFor(model => model.Tournament.IsClosed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.CreatorId" class="control-label"></label>
                <input asp-for="Tournament.CreatorId" class="form-control" />
                <span asp-validation-for="Tournament.CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
