@page
@using TCGUABot.Data.Models
@model IndexModel
@inject UserManager<Data.Models.ApplicationUser> UserManager
@inject ApplicationDbContext Context

@{
    ViewData["Title"] = "Home page";
    //var decks = Context.Decks.Where(d => d.UserId=="d34f08f5-9daa-46d6-a87c-cc3a6fda538a").OrderByDescending(p => p.CreationDate).Take(5);
    //ApplicationUser user;
}

<div class="text-center">
    <form onsubmit="OnSubmit(); return false" class="card-search-form" id="searchForm" autocomplete="off">
        <input type="text" id="q" autofocus autocomplete="off" class="card-name-input" onkeyup="OnInputChange()" placeholder="Введите имя карты..." /><br />
        <div id="suggestions" class="card-search-suggestions"></div>
        <div id="results" class="card-search-results"></div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
$(document).ready(function() {
    $('#q').click(function(e){
        $(this).focus();
    });
    $('#q').trigger('click');
});
        function OnInputChange(event) {
            if (window.event.keyCode != 13) {
                if (document.getElementById("q").value.length > 3) {
                    document.getElementById("results").style.display = "none";
                    Suggest(document.getElementById("q").value);
                }
                else {
                    document.getElementById("suggestions").style.display = "none";
                }
            }
        }

        function OnSubmit() {
            document.getElementById("suggestions").style.display = "none";
            Search(document.getElementById("q").value);
        }

        async function Suggest(input) {
            var response = await fetch('/Cards/SearchByName?q=' + input);

            if (response.ok) {
                response.json()
                    .then(function (data) {
                        if (data.length == 0) { document.getElementById("suggestions").style.display = "none"; }
                        var buffer = "<div class='card-search-suggestions-inwrap'>";
                        for (var i = 0; i < data.length; i++) {
                            buffer += "<div class='card-search-result' onclick='SetCardName(\"" + data[i].name + "\",\"" + data[i].set + "\")'>" +
                                "<div class='card-search-cell'><img class='card-search-image' src='" + data[i].url + "'/></div>" +
                                "<div class='card-search-cell'>" +
                                "<div class='card-search-data'>" +
                                "<div class='card-search-name'>" + data[i].name + "</div>" +
                                "<div class='card-search-set'>(" + data[i].setName + ")</div>" +
                                "<div class='card-serach-type'>" + data[i].type + "</div>" +
                                "<div class='card-search-manacost'>" + data[i].manacost + "</div>" +
                                "</div>" +
                                "</div>" +
                                "</div>";
                        }
                        buffer += "</div>";
                        document.getElementById("suggestions").innerHTML = buffer;
                        document.getElementById("suggestions").style.display = "inline-block";
                    });
            }
            else {
                document.getElementById("suggestions").style.display = "none";
            }
        }

        async function Search(input) {
            var response = await fetch('/Cards/SearchByExactName?q=' + input);

            if (response.ok) {
                response.json()
                    .then(function (data) {
                        var buffer = "<div class='card-search-results-inwrap'>";
                        buffer += "<div class='search-card-en-name'>" + data.nameEn + "</div>";
                        if (data.nameRu) buffer += "<div class='search-card-ru-name'>" + data.nameRu + "</div>";
                        buffer += "<div class='search-card-set'>(" + data.setName + ")</div>";


                        buffer += "<div class='search-card-images'>";
                        for (var i = 0; i < data.urls.length; i++) {
                            buffer += "<img class='search-card-image' src='" + data.urls[i] + "'/>";
                        }
                        buffer += "</div>"
                        buffer += "<div class='search-card-prices'>";
                        if (data.prices.normal) buffer += "<div class='search-card-price-normal'>Цена<br>$" + data.prices.normal + "</div>";
                        if (data.prices.foil) buffer += "<div class='search-card-price-foil'>Цена фойлы<br>$" + data.prices.foil + "</div>";
                        if (!data.prices.normal && !data.prices.foil) buffer += "<div class='search-card-price-no-price>Нет данных о цене</div>";
                        buffer += "</div>";
                        buffer += "</div>";
                        document.getElementById("results").style.display = "table";
                        document.getElementById("results").innerHTML = buffer;
                    });
            }
            else {
                document.getElementById("error").innerHtml = "<span>Deck validation error!</span>"
            }
        }

        async function SetCardName(name, set) {
            document.getElementById("q").value = name + "(" + set + ")";
            OnSubmit();
        }
    </script>
}